## Load config
#{% load_yaml as config %}
#{% include 'split-ssh/config.yaml' %}
#{% endload %}
#
## Collect information about the client(s)
#{% set client_names = [] %}
#{% set client_templates = [] %}
#
#{% for client in config.clients %}
#{{ client_names.append(client.name) }}
#{{ client_templates.append(client.template) if client.template not in client_templates }}
#{% endfor %}
#
## Collect information about the vault(s)
#{% set vault_names = [] %}
#{% set vault_templates  = [] %}
#
#{% for vault in config.vaults %}
#{{ vault_names.append(vault.name) }}
#{{ vault_templates.append(vault.template) if vault.template not in vault_templates }}
#{% endfor %}
#
## Deduplicate and sort the lists to allow comparisons
## and ensure consistency
#{% set client_names = client_names|unique|sort %}
#{% set client_templates = client_templates|unique|sort %}
#{% set vault_names = vault_names|unique|sort %}
#{% set vault_templates = vault_templates|unique|sort %}
---
user:
  dom0:
    - split-ssh.clients
    - split-ssh.vaults

  {{ client_names|join(',') }}:
    - match: list
    - split-ssh.client

  {{ vault_names|join(',') }}:
    - match: list
    - split-ssh.vault

  {# Prevent duplicate keys when client and vault templates are the same #}
  {% if client_templates == vault_templates %}
  {{ client_templates|join(',') }}:
    - match: list
    - split-ssh.client-template
    - split-ssh.vault-template
  {% else %}
  {{ client_templates|join(',') }}:
    - match: list
    - split-ssh.client-template

  {{ vault_templates|join(',') }}:
    - match: list
    - split-ssh.vault-template
  {% endif %}

